@model Project1.WebApp.Models.InventoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Inventories" asp-action="Index">
    <p>
        Location:
        <select asp-for="ProductLocation" asp-items="Model.Locations" method="get">
            <option value="">All</option>
        </select>
        Product Search: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItems[0].Location.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItems[0].Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItems[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InventoryItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
