@model Project1.WebApp.Models.OrderAddProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Inventories[0].Product.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Inventories[0].Product.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Inventories[0].Quantity)
                            </th>
                            <th>
                                Select
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Inventories)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="radio" asp-for="InventoryID" value="@item.ID">
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}