@model Project1.WebApp.Models.TempOrderViewModel

@{
    ViewData["Title"] = "Index";
}


<h1>Ongoing Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    Location:
    <select asp-for="OrderLocation" asp-items="Model.Locations">
        <option value="">All</option>
    </select>
    Product Search: <input type="text" name="SearchString">
    <input type="submit" value="Filter" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TempOrders[0].Location.Name)
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempOrders[0].Created)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TempOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FName) @Html.DisplayFor(modelItem => item.Customer.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <a asp-action="AddProduct" asp-route-id="@item.ID">Add Product</a> |
                    <a asp-action="CompleteOrder" asp-route-id="@item.ID">Complete Order</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
